version: 2.0.{build}
skip_tags: true
image: Visual Studio 2017
configuration: Release
cache: packages -> **\packages.config
environment:
  REDIS_PATH: C:\Users\appveyor\.nuget\packages\redis-64\3.0.503\tools
before_build:
- cmd: nuget restore
build:
  verbosity: normal
after_build:
- cmd: >-
    nuget pack RedLock.nuspec

    nuget pack RedLock.StrongName.nuspec
before_test:
- ps: >-
    cd RedLockNet.Tests\RedisConfig

    Start-Process run-all-servers.cmd

    Start-Sleep 5
artifacts:
- path: '*.nupkg'